body{
    background-color: #E5E5E9;
}
.comment{
    margin-left: -15%;
}

.share{
    margin-left: -10%;
}

.cakirimg{
    margin-left: -30%;
}

.mematimg{
    margin-left: -60%;
}

.profileTop{
    border-radius: 0px 0px 38px 38px;
}

.imgThree{
    height: 452px;   ;
}

.searchBarPrf{
    margin-left:10%; position: relative;
}

.searchImg{
    position: relative; right: 8%;
}

.reelsFooter{
    border-top-left-radius: 40px; 
    border-top-right-radius: 40px;
}

.spangram{
    color: #878D98;
}



.story {
    width: 14.565%;
}

.icon1{
    width: 19px;
    height: 25px;
}

.icon2{
    width: 21.88px;
    height: 25px;
}

.icon3{
    width: 23px;
    height: 23px;
}

.icon4{
    width: 29px;
    height: 25px;
}

.icon5{
    width: 23px;
    height: 24px;
}

.icon6{
    width: 17.2px;
    height: 21.88px;
}

.profileImg1 {
    width: 55%;
}

.profileImg2 {
    width:37.5%
}

.profileImg3 {
    width:55%
}

.doguImg {
    height: 48%;
}

.aslanImg {
    height: 48%;
}

.kumarImg {
    width: 48.8%;
}

.profileFooter {
    border-top-left-radius: 40px; 
    border-top-right-radius: 40px;
}

.links {
    height: 101vh;
    width: 101%;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.profileInf {
    position: relative;
    
  }
  
  .profileInf::before {
    content: "";
    position: absolute;
    bottom: -6px;
    right: 0;
    width: 100%;
    height: 20px;
    background-image: url('./profile/img/plus.svg');
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
  }